@charset "utf-8";
*
{
    margin: 0px;
    padding: 0px;
}

#main
{
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}

#banner
{
    height: 100px;
    background-color: cornflowerblue;
    background-image: url("../images/rain.gif");    
}

h1
{
    padding-top: 30px;
    text-align: center;    
    color:rgb(255, 231, 231);    
}

#nav
{
    text-align: center;/**/
    height: 40px;
    background-color: darkcyan;
    font-size: 20px;
    font-weight: 900;
    color:rgb(255, 231, 231);
}

#menu ul/**/
{
    list-style-type: none;
    background-color: darkgoldenrod;    
}

#menu li/**/
{
    display: inline-block;
    width: 120px;
    height: 40px;
    position: relative;
    line-height: 40px;
}

#menu li #submenu/**/
{
    display: none;
    position: absolute;
}

#menu li:hover #submenu/**/
{
    display: block;
}

#menu a/**/
{
    text-decoration: none;
    color: gainsboro;
    display: block;
}

#menu a:hover/**/
{
    color: lightcoral;
}

#container
{
    display: flex;
    flex-direction: row;
    min-height: 400px;
    background-color: darkslateblue;    
}

#left
{
    width: 15%;
    background-color: darkkhaki;
    padding: 20px;
}

#content
{       
    width: 70%;
    background-color: gold;
    padding: 5px;
}

#content>div/*lấy con đầu tiên*/
{
    display: flex;
    flex-direction: row;
}

#content div div
{
    padding: 2px;/* cách dòng*/
    border: 2px solid blue;
    width: 50%;
    height: 250px;
    background-color: hotpink;
    margin: 2px;
    text-align: justify;/*căn đếu chữ*/
    
    overflow: hidden;    
}
#content div:last-child  div:last-child 
{
    overflow:scroll;
}

#right
{
    margin: auto;
    padding: 10px;
    width: 15%;
    background-color: darkkhaki;
}

#right div/**/
{
    margin: 5px;background-color: mediumpurple;
    width: 90%;
    height: 160px;
    border-radius: 20px;
    border: 2px solid darkgreen;
    overflow: hidden;    
}

#footer
{   
    height: 50px;
    background-color: cornflowerblue;
    padding-top: 20px;
    text-align: center;    
    color:whitesmoke;
    font-size: x-large;
    font-weight: 900;
}
