@charset "utf-8";
/* CSS Document */
body{
	font-style: normal;
	font-family:"Hoefler Text", "Liberation Serif", "Times New Roman", "serif";
	padding: 9px;	
}
img{
	float: right;
}
h1{
	font-size: 56px;
	color: blue; 
}
nav{
	font-size: 30px;
	margin-top: -5px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:inline-flex;
	background: lightblue;
	
}
li a{
	display: block;
	width: 50%;
	text-decoration: none;
}
li a:hover{
	background-color: darkgoldenrod;
}
